*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--color-main: #648994;
	--color-light-font: rgb(252, 246, 246);
	--color-bg-grayish: #706868;
	--fs-footer: 1.1rem;
	--fs-header: 1.8rem;
}

body {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	text-align: center;
}

header,
footer {
	background: var(--color-bg-grayish);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-light-font);
	padding: 1rem;
	font-size: var(--fs-header);
}

footer {
	padding: 0.7rem;
	font-size: var(--fs-footer);
}

main {
	background: var(--color-main);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 2rem;
}

.player-turn {
	display: flex;
	align-items: center;

	& h3 {
		font-size: 1.5rem;
	}
}

.gameboard {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	background: rgb(87, 83, 83);
	gap: 0.5rem;
	padding: 0.5rem;
	border-radius: 1rem;

	& .board-item {
		border: none;
		border-radius: 1rem;
		background: rgba(225, 248, 244, 0.637);
		width: 10rem;
		height: 10rem;

		& p {
			font-size: 4rem;
			user-select: none;
			pointer-events: none;
		}
	}
}

.restart {
	box-shadow: 0px 0px 14px 1px #9fb4f2;
	background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color: #7892c2;
	border-radius: 15px;
	border: 1px solid #4e6096;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 17px;
	font-weight: bold;
	padding: 19px 59px;
	text-decoration: none;
	text-shadow: 1px 3px 3px #283966;
}
.restart:hover {
	background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color: #476e9e;
}
.restart:active {
	position: relative;
	top: 1px;
}


.endround {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 3rem;
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;


}

.message {
	color: white;
	font-size: 3rem;
}